.contacts--table
  margin-top -8px
  border-bottom 1px solid $cGray_l
  padding-bottom 33px
  margin-bottom 40px
  width 100%

  tr
    td
      padding 9px 20px 9px 0
      color $cGray_m
      vertical-align top

      &.title
        font-weight bold
        width 175px

.contacts--map
  height 445px

.contacts--btn
  text-align center

  .btn
    padding 15px 75px
    color #8c8582
    font-size 15px
