.btn
  display inline-block
  vertical-align top
  font-size 15px
  font-weight bold
  color $cWhite
  background $cGreen
  text-align center
  cursor pointer
  border-radius 5px
  padding 10px 35px
  text-transform uppercase
  transition all 0.2s ease-in-out

  &:hover
    background $cGreen - #111111

  &.btn-gray
    background $cGray_m

  &.btn-border
    border-radius 0
    background transparent
    border 1px solid #8c8582
    color #8c8582
    font-size 14px
    text-transform uppercase
    text-align center
    padding 6px 0

.btn-wrap
  text-align center

