block vars
    - var title='Title'

extends ../../partials/layout

block content

    section.breadcrumbs.margin-bottom-20
        .width-wrap
            ul
                li
                    a(href="") Главная
                li
                    a(href="") Натяжные потолки
                li
                    a(href="") Российские
                li
                    span В ванной

    main.margin-bottom-150
        .width-wrap
            h1.margin-bottom-40 Профиль окна: KBE, REHAU

            ul.profil-list
                li.profil-list--el.one-quarter
                    img(src="../../../img/img--profil-1.jpg" alt /)

                    span.title KBE Etalon

                    ul.profil-list--el-params
                        li
                            span Монтажная глубина
                            span 58 мм
                        li
                            span Количество камер
                            span 3 шт
                        li
                            span Толщина стенок
                            span 2,6 мм
                        li
                            span Стеклопакет
                            span 24,30,32 мм
                        li
                            span Тепло: Rₒ м&sup2;&nbsp;&deg;С/Вт
                            span 0,63
                        li
                            span Морозостойкость
                            span -60&deg;С
                        li
                            span Срок службы более
                            span 40 лет

                li.profil-list--el.one-quarter
                    img(src="../../../img/img--profil-2.jpg" alt /)

                    span.title KBE Etalon

                    ul.profil-list--el-params
                        li
                            span Монтажная глубина
                            span 58 мм
                        li
                            span Количество камер
                            span 3 шт
                        li
                            span Толщина стенок
                            span 2,6 мм
                        li
                            span Стеклопакет
                            span 24,30,32 мм
                        li
                            span Тепло: Rₒ м&sup2;&nbsp;&deg;С/Вт
                            span 0,63
                        li
                            span Морозостойкость
                            span -60&deg;С
                        li
                            span Срок службы более
                            span 40 лет

                li.profil-list--el.one-quarter
                    img(src="../../../img/img--profil-3.jpg" alt /)

                    span.title KBE Etalon

                    ul.profil-list--el-params
                        li
                            span Монтажная глубина
                            span 58 мм
                        li
                            span Количество камер
                            span 3 шт
                        li
                            span Толщина стенок
                            span 2,6 мм
                        li
                            span Стеклопакет
                            span 24,30,32 мм
                        li
                            span Тепло: Rₒ м&sup2;&nbsp;&deg;С/Вт
                            span 0,63
                        li
                            span Морозостойкость
                            span -60&deg;С
                        li
                            span Срок службы более
                            span 40 лет

                li.profil-list--el.one-quarter
                    img(src="../../../img/img--profil-4.jpg" alt /)

                    span.title KBE Etalon

                    ul.profil-list--el-params
                        li
                            span Монтажная глубина
                            span 58 мм
                        li
                            span Количество камер
                            span 3 шт
                        li
                            span Толщина стенок
                            span 2,6 мм
                        li
                            span Стеклопакет
                            span 24,30,32 мм
                        li
                            span Тепло: Rₒ м&sup2;&nbsp;&deg;С/Вт
                            span 0,63
                        li
                            span Морозостойкость
                            span -60&deg;С
                        li
                            span Срок службы более
                            span 40 лет

                li.profil-list--el.one-quarter
                    img(src="../../../img/img--profil-5.jpg" alt /)

                    span.title KBE Etalon

                    ul.profil-list--el-params
                        li
                            span Монтажная глубина
                            span 58 мм
                        li
                            span Количество камер
                            span 3 шт
                        li
                            span Толщина стенок
                            span 2,6 мм
                        li
                            span Стеклопакет
                            span 24,30,32 мм
                        li
                            span Тепло: Rₒ м&sup2;&nbsp;&deg;С/Вт
                            span 0,63
                        li
                            span Морозостойкость
                            span -60&deg;С
                        li
                            span Срок службы более
                            span 40 лет

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/profil.jpg",opacity: 0.5,top: -2,left: 0,center: false,clip: true,show: false});});





