.gallery
  margin-left -20px

  li
    margin-left 20px

    a
      display block
      line-height 0
      overflow hidden
      margin-bottom 20px

      img
          min-width 100%
          min-height 100%
          transform scale(1)
          transition all 0.2s ease-in-out

        &:hover
          img
            transform scale(1.1)
