block vars
    - var title='Title'

extends ../../partials/layout

block content

    section.breadcrumbs.margin-bottom-20
        .width-wrap
            ul
                li
                    a(href="") Главная
                li
                    span Акции

    main.margin-bottom-150
        .width-wrap
            h1.margin-bottom-40 Акции и&nbsp;подарки

            ul.opinion-list
                li.opinion-list--el.grid
                    a(href="").opinion-list--el-img.one-quarter.grid-iten
                        img(src="../../../img/img--action-1.jpg" alt /)

                    .content.grid-iten
                        .content-header
                            a(href="") Шкафы купе по&nbsp;акции
                            time 02.04.2017

                        p В&nbsp;преддверии Нового года наша компания проводит акцию на&nbsp;шкафы купе и&nbsp;другую мебельную продукцию. До&nbsp;31.12.2016 года при заказе более одной единицы мебельной продукции&nbsp;&mdash; первая оплачивается полностью, а&nbsp;все последующие со&nbsp;скидкой 15%. При этом стоимость первой единицы не&nbsp;должна быть менее 35.000&nbsp;рублей.

                li.opinion-list--el.grid
                    a(href="").opinion-list--el-img.one-quarter.grid-iten
                        img(src="../../../img/img--action--no-img.png" alt /)

                    .content.grid-iten
                        .content-header
                            a(href="") Снижена стоимость окон Provedal
                            time 02.04.2017

                        p За&nbsp;долгие годы сотрудничества с&nbsp;нашими партнерами по&nbsp;производству профильных систем Provedal (холодное раздвижное остекление), мы&nbsp;смогли достигнуть неплохих результатов и&nbsp;снизить стоимость алюминиевых окон на&nbsp;10%. Мы&nbsp;надеемся на&nbsp;дальнейшее плодотворное сотрудничество с&nbsp;нашими поставщиками и&nbsp;планируем по&nbsp;возможности снижать стоимость конечной продукции для наших клиентов.

                li.opinion-list--el.grid
                    a(href="").opinion-list--el-img.one-quarter.grid-iten
                        img(src="../../../img/img--action--no-img.png" alt /)

                    .content.grid-iten
                        .content-header
                            a(href="") Шкафы купе по&nbsp;акции
                            time 02.04.2017

                        p В&nbsp;преддверии Нового года наша компания проводит акцию на&nbsp;шкафы купе и&nbsp;другую мебельную продукцию. До&nbsp;31.12.2016 года при заказе более одной единицы мебельной продукции&nbsp;&mdash; первая оплачивается полностью, а&nbsp;все последующие со&nbsp;скидкой 15%. При этом стоимость первой единицы не&nbsp;должна быть менее 35.000&nbsp;рублей.

                li.opinion-list--el.grid
                    a(href="").opinion-list--el-img.one-quarter.grid-iten
                        img(src="../../../img/img--action-2.jpg" alt /)

                    .content.grid-iten
                        .content-header
                            a(href="") Снижена стоимость окон Provedal
                            time 02.04.2017

                        p За&nbsp;долгие годы сотрудничества с&nbsp;нашими партнерами по&nbsp;производству профильных систем Provedal (холодное раздвижное остекление), мы&nbsp;смогли достигнуть неплохих результатов и&nbsp;снизить стоимость алюминиевых окон на&nbsp;10%. Мы&nbsp;надеемся на&nbsp;дальнейшее плодотворное сотрудничество с&nbsp;нашими поставщиками и&nbsp;планируем по&nbsp;возможности снижать стоимость конечной продукции для наших клиентов.

                li.opinion-list--el.grid
                    a(href="").opinion-list--el-img.one-quarter.grid-iten
                        img(src="../../../img/img--action--no-img.png" alt /)

                    .content.grid-iten
                        .content-header
                            a(href="") Акция на&nbsp;мебельную продукцию
                            time 02.04.2017

                        p Уважаемые посетители нашего сайта, рады вам сообщить, что с&nbsp;сегодняшнего дня мы&nbsp;снизили цены на&nbsp;всю мебельную продукцию на&nbsp;10%. Мы&nbsp;не&nbsp;создаем видимость грандиозных акций с&nbsp;нереальными цифрами афишируя их&nbsp;во&nbsp;всевозможных источниках, мы&nbsp;просто снижаем цены по&nbsp;мере возможности. Вот и&nbsp;в&nbsp;этот раз нам удалось достичь снижения стоимости продукции. Будем рады вам помочь в&nbsp;приобретении новой мебели.

            ul.pagination
                li
                    a(href="").pagination-prev
                li
                    span 1
                li
                    a(href="")  2
                li
                    a(href="") 3
                li
                    a(href="") 4
                li
                    a(href="") 5
                li
                    a(href="").pagination-next



    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/action.jpg",opacity: 0.5,top: -2,left: 0,center: false,clip: true,show: false});});





