block vars
    - var title='Title'

extends ../../partials/layout

block content

    section.breadcrumbs.margin-bottom-20
        .width-wrap
            ul
                li
                    a(href="") Главная
                li
                    a(href="") Окна ПВХ
                li
                    span Вопросы и ответы

    main.margin-bottom-150
        .width-wrap
            h1.margin-bottom-40 Уход за&nbsp;натяжными потолками

            article
                .flex-between.flex-center.margin-bottom-50
                    .one-half
                        img(src="../../../img/img--article-img-1.jpg" alt /)

                    .one-half
                        p Многие потребители считают, что стеклопакеты и
                            =" "
                            a(href="") пластиковые окна
                            =" - синонимы, хотя это не так. Стеклопакет – это только часть окна, важный элемент, благодаря которому можно осмотреть улицу. Обычно он заключается в раму, которую собирают из пластикового профиля и крепят в оконном проеме. Поэтому будет правильнее использовать фразу «окна со стеклопакетами», ведь все мы знаем, что стеклопакеты являются не пластиковыми, а стеклянными."

                        p В&nbsp;действительности&nbsp;же, окна ПВХ со&nbsp;стеклопакетами обычно состоят из&nbsp;2&nbsp;или 3&nbsp;стекол, а&nbsp;между ними есть воздушная камера шириной десять миллиметров или чуть больше. Величина этой воздушной камеры может зависеть от&nbsp;ширины прямоугольного сечения самого профиля, называемого также &laquo;дистанционной рамкой&raquo;. Такая рамка заполнена специальным веществом, впитывающим влагу, благодаря чему стекла не&nbsp;запотевают изнутри. Однокамерные стеклопакеты&nbsp;&mdash; с&nbsp;2-мя стеклами, а&nbsp;двухкамерные соответственно&nbsp;&mdash; с&nbsp;3-мя.

                h2.margin-bottom-30 Классы взломостойкости замков

                p Как и&nbsp;двери, замки согласно ГОСТу 5089-97, по&nbsp;своей устойчивости также делятся на&nbsp;классы. Класс взломостойкости замка определяется исходя из&nbsp;силовых нагрузок различными электрическими и&nbsp;ручными инструментами. После воздействия этих самых инструментов и&nbsp;зафиксированного времени, потраченного на&nbsp;вскрытие, сертифицируют разные классы замков. Предположим, если замок имеет высокую прочность и&nbsp;при этом его можно вскрыть отверткой не&nbsp;более чем за&nbsp;3&nbsp;минуты, то&nbsp;класс такого механизма не&nbsp;выше 1-го и&nbsp;устанавливать такой замок в&nbsp;квартирные двери никак нельзя. Они больше подойдут для подсобных помещений. Для входных квартирных дверей необходимо использовать замки не&nbsp;ниже 2-го класса, ну&nbsp;а&nbsp;если имеются какие не&nbsp;какие ценности, то&nbsp;как минимум 3-й. Ну&nbsp;а&nbsp;если речь идет о&nbsp;квартире, где установлена дорогая техника и&nbsp;более серьезные ценности, рекомендуется ставить замки 4-го класса взломостойкости.
                p.margin-bottom-50 Значения и&nbsp;область применения замков согласно ГОСТу 5089-97

                img(src="../../../img/img--article-img-2.jpg" alt /).img-center.margin-bottom-60

                p В&nbsp;домашних условиях определить класс устойчивости запирающего механизма невозможно. Этот параметр указывается только в&nbsp;техническом паспорте и&nbsp;является гордостью любого производителя. Сертифицируются замки с&nbsp;2-го по&nbsp;4-й класс, эти характеристики говорят о&nbsp;высокой степени надежности. Их, как правило, уже устанавливают на&nbsp;входные железные двери многоквартирных домов.
                p.margin-bottom-50 По&nbsp;секретности замки разделяют на&nbsp;два класса &laquo;А&raquo; и&nbsp;&laquo;Б&raquo;. Согласно ГОСТу Р&nbsp;51072-97 эти характеристики определяют количество защитных комбинаций ключа. На&nbsp;сегодняшний день крупные производители делают очень высокий запас комбинаций ключей, что подтверждает их&nbsp;высочайшую секретность.

                h2.margin-bottom-30 Теплоизоляция входной двери

                p.margin-bottom-30 Профессиональная звуко- и&nbsp;теплоизоляция входной стальной двери создаст комфорт и&nbsp;уют в&nbsp;вашем доме. Помимо своих тепло- и&nbsp;звукоизоляционных свойств она послужит надежной защитой и&nbsp;подчеркнет интерьер вашего помещения. Грамотный монтаж самой двери и&nbsp;откосов покажет наилучший результат. Мы&nbsp;постараемся перечислить все параметры, при которых достигается максимальная тепло- и&nbsp;звукоизоляция железной входной двери.

                ol
                    li Для того, чтобы сделать действительно хорошую утепленную входную металлическую дверь, полость дверного полотна должна быть полностью наполнена качественным тепло- и&nbsp;звукоизолирующим материалом. Наиболее востребованным изолирующим материалом на&nbsp;сегодняшний день является минеральная или базальтовая вата, с&nbsp;помощью которой достигается хорошая изоляция. Такой материал не&nbsp;подвержен горению, отлично гасит посторонние шумы, не&nbsp;выводит тепло из&nbsp;квартиры и&nbsp;не&nbsp;пропускает холод с&nbsp;улицы, экологически безвреден. Также для утепления и&nbsp;звукоизоляции часто используют пенополиуретан, который предотвращает &laquo;эффект барабана&raquo; и&nbsp;обладает такими&nbsp;же отличными характеристиками, как минвата.
                    li Еще один способ подавления шума&nbsp;&mdash; это отделка металлических дверей декоративными панелями. Идеальным в&nbsp;этом плане является массив или МДФ плиты, которые замечательно гасят звук.
                    li Достичь эффективной теплоизоляции можно при помощи качественно изготовленного изделия. Дверь должна плотно прилегать к&nbsp;коробу. Но&nbsp;как&nbsp;бы превосходно не&nbsp;была изготовлена дверь, щели никуда не&nbsp;денешь. Справиться с&nbsp;этой задачей помогают силиконовые уплотнители, предотвращающие поддувание в&nbsp;этих местах.
                    li Самый отличный вариант расположения силиконового уплотнителя&nbsp;&mdash; по&nbsp;двум контурам. Два контура двери имеет гнутый профиль либо профиль с&nbsp;притвором. Получается, что уплотнитель наклеивается и&nbsp;на&nbsp;переднюю часть, и&nbsp;на&nbsp;заднюю.
                    li Также не&nbsp;мало важно заделать все пустоты, часто встречающиеся между проемом и&nbsp;дверной коробкой. Желательно заполнить и&nbsp;сам дверной короб. Заполняются эти места материалом под названием &laquo;пескобетон&raquo;.

                h2.margin-bottom-30 Теплоизоляция входной двери

                p.margin-bottom-30 Профессиональная звуко- и&nbsp;теплоизоляция входной стальной двери создаст комфорт и&nbsp;уют в&nbsp;вашем доме. Помимо своих тепло- и&nbsp;звукоизоляционных свойств она послужит надежной защитой и&nbsp;подчеркнет интерьер вашего помещения. Грамотный монтаж самой двери и&nbsp;откосов покажет наилучший результат. Мы&nbsp;постараемся перечислить все параметры, при которых достигается максимальная тепло- и&nbsp;звукоизоляция железной входной двери.

                ul.margin-bottom-50
                    li Для того, чтобы сделать действительно хорошую утепленную входную металлическую дверь, полость дверного полотна должна быть полностью наполнена качественным тепло- и&nbsp;звукоизолирующим материалом. Наиболее востребованным изолирующим материалом на&nbsp;сегодняшний день является минеральная или базальтовая вата, с&nbsp;помощью которой достигается хорошая изоляция. Такой материал не&nbsp;подвержен горению, отлично гасит посторонние шумы, не&nbsp;выводит тепло из&nbsp;квартиры и&nbsp;не&nbsp;пропускает холод с&nbsp;улицы, экологически безвреден. Также для утепления и&nbsp;звукоизоляции часто используют пенополиуретан, который предотвращает &laquo;эффект барабана&raquo; и&nbsp;обладает такими&nbsp;же отличными характеристиками, как минвата.
                    li Еще один способ подавления шума&nbsp;&mdash; это отделка металлических дверей декоративными панелями. Идеальным в&nbsp;этом плане является массив или МДФ плиты, которые замечательно гасят звук.
                    li Достичь эффективной теплоизоляции можно при помощи качественно изготовленного изделия. Дверь должна плотно прилегать к&nbsp;коробу. Но&nbsp;как&nbsp;бы превосходно не&nbsp;была изготовлена дверь, щели никуда не&nbsp;денешь. Справиться с&nbsp;этой задачей помогают силиконовые уплотнители, предотвращающие поддувание в&nbsp;этих местах.
                    li Самый отличный вариант расположения силиконового уплотнителя&nbsp;&mdash; по&nbsp;двум контурам. Два контура двери имеет гнутый профиль либо профиль с&nbsp;притвором. Получается, что уплотнитель наклеивается и&nbsp;на&nbsp;переднюю часть, и&nbsp;на&nbsp;заднюю.
                    li Также не&nbsp;мало важно заделать все пустоты, часто встречающиеся между проемом и&nbsp;дверной коробкой. Желательно заполнить и&nbsp;сам дверной короб. Заполняются эти места материалом под названием &laquo;пескобетон&raquo;.

                a(href="").btn.btn-border Назад

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/article.jpg",opacity: 0.5,top: -2,left: 0,center: false,clip: true,show: false});});





