block vars

footer.footer
    .footer-top
        .width-wrap.flex-between
            .footer--links
                span.title О&nbsp;КОМПАНИИ

                ul
                    li
                        a(href="") О&nbsp;компании
                    li
                        a(href="") Доставка и&nbsp;оплата
                    li
                        a(href="") Отзывы клиентов
                    li
                        a(href="") Акции и&nbsp;подарки

            .footer--links
                span.title ПРОДУКЦИЯ

                ul
                    li
                        a(href="") Пластиковые окна
                    li
                        a(href="") Шкафы купе
                    li
                        a(href="") Натяжные потолки
                    li
                        a(href="") Стальные двери

            .footer--links
                span.title ЦЕНЫ

                ul
                    li
                        a(href="") Калькулятор окон
                    li
                        span Калькулятор шкафов
                    li
                        a(href="") Калькулятор потолков
                    li
                        a(href="") Калькулятор дверей

            .footer--contacts
                span.title КОНТАКТЫ

                .footer--contacts-phone
                    a(href="84952204570") +7(495)220-45-70
                    a(href="89852204570") +7(985)220-45-70

                span г. Москва, м. Нагатинская
                    br
                    ="Каширское ш., 3, к.2, стр.9"

                span E-mail:
                    a(href="mailto:info@domashniy-uyut.net")  info@domashniy-uyut.net

    .footer-bottom
        .width-wrap.flex-between
            .footer--copyrigh
                span Copyright 2009-2017 &laquo;Домашний Уют&raquo; Все права защищены.
                span Копирование любых материалов без согласия администрации запрещено.

            .footer--made
                span Разработано в:
                    a(href="")  Домашний Уют
