block vars

header.header.margin-bottom-40
    .width-wrap
        .header--top.flex-between
            a(href="" title="Домашний уют").header--logo
                img(src="../../../img/logo--header.png" alt /)

            .header--popup
                a(href="../pagePopup/pagePopup-gauger.html" class="fancybox.ajax" title="Вызов замерщика").fancy.header--popup-metering
                    div.text
                        span Вызов
                            br
                            ="замерщика"

                    .icon

                a(href="../pagePopup/pagePopup-callback.html" class="fancybox.ajax").fancy.header--popup-call
                    .icon

                    div.text
                        span Мы вам
                            br
                            ="перезвоним"

            .header--schedule
                a(href="tel:84952204570").header--schedule-phone +7 (495) 220-45-70

                span.header--schedule-time ВРЕМЯ РАБОТЫ: с
                    = " "
                    i 8
                    =" до "
                    i 20
                    =" ч."

        nav.header--bottom
            ul.flex-between
                li.icon
                li
                    a(href="") О&nbsp;КОМПАНИИ

                li
                    a(href="").has-dropdown ОКНА ПВХ

                    .dropdown
                        ul.two-column
                            li
                                span Окна серии "Эконом"
                            li
                                a(href="") Окна серии "Комфорт"
                            li
                                a(href="") Окна серии "Премиум"
                            li
                                a(href="") Остекление балконов
                            li
                                a(href="") Витражное остекление
                            li
                                a(href="") Офисные перегородки
                            li
                                a(href="") Стеклопакеты
                            li
                                a(href="") Профиль оконный
                            li
                                a(href="") Цветовые идеи
                            li
                                a(href="") Цены
                            li
                                a(href="") Статьи
                            li
                                a(href="") Фотогалерея

                li
                    a(href="").has-dropdown ШКАФЫ КУПЕ

                    .dropdown
                        ul.three-column
                            li
                                a(href="") Корпусные шкафы купе
                            li
                                a(href="") Встроенные шкафы купе
                            li
                                a(href="") Угловые шкафы купе
                            li
                                a(href="") Трапециевидные шкафы
                            li
                                a(href="") Диагональные шкафы
                            li
                                a(href="") Книжные шкафы
                            li
                                a(href="") Гардеробные комнаты
                            li
                                a(href="") Раздвижные перегородки
                            li
                                a(href="") Прихожие на заказ
                            li
                                a(href="") Профиль дверей купе
                            li
                                a(href="") Палитра расцветок
                            li
                                a(href="") Цены
                            li
                                a(href="") Статьи
                            li
                                a(href="") Фотогалерея
                li
                    span.has-dropdown НАТЯЖНЫЕ ПОТОЛКИ

                    .dropdown
                        ul.three-column
                            li
                                a(href="") Российские "Казань"
                            li
                                a(href="") Китайские "Gline"
                            li
                                a(href="") Немецкие "Lackfolie"
                            li
                                a(href="") Французские "Barrisol"
                            li
                                a(href="") Бельгийские "Polyplast"
                            li
                                a(href="") Тканевые "Descor"
                            li
                                a(href="") Двухуровневые
                            li
                                a(href="") Многоуровневые
                            li
                                a(href="") Фотопечать на потолке
                            li
                                a(href="") Монтаж потолка
                            li
                                a(href="") Палитра расцветок
                            li
                                a(href="") Цены
                            li
                                a(href="") Статьи
                            li
                                a(href="") Фотогалерея
                li
                    a(href="").has-dropdown СТАЛЬНЫЕ ДВЕРИ

                    .dropdown
                        ul.two-column.doors
                            li
                                a(href="") Стальные двери "Винилкожа"
                            li
                                a(href="") Стальные двери "Покраска"
                            li
                                a(href="") Стальные двери "Ламинат"
                            li
                                a(href="") Стальные двери "Напыление"
                            li
                                a(href="") Стальные двери "МДФ"
                            li
                                a(href="") Стальные двери "Массив"
                            li
                                a(href="") Конструкция двери
                            li
                                a(href="") Образцы отделки
                            li
                                a(href="") Фурнитура
                            li
                                a(href="") Цены
                            li
                                a(href="") Статьи
                            li
                                a(href="") Фотогалерея
                li
                    a(href="") КОНТАКТЫ

