block vars
    - var title='Title'

extends ../../partials/layout

block content

    section.breadcrumbs.margin-bottom-20
        .width-wrap
            ul
                li
                    a(href="") Главная
                li
                    a(href="") Окна ПВХ
                li
                    span Стеклопакеты

    main.margin-bottom-150
        .width-wrap
            h1.margin-bottom-40 Стеклопакеты

            .flex-between.flex-center.margin-bottom-60
                .one-half
                    img(src="../../../img/img--article-img-1.jpg" alt /)

                .one-half
                    p Многие потребители считают, что стеклопакеты и
                        =" "
                        a(href="") пластиковые окна
                        =" - синонимы, хотя это не так. Стеклопакет – это только часть окна, важный элемент, благодаря которому можно осмотреть улицу. Обычно он заключается в раму, которую собирают из пластикового профиля и крепят в оконном проеме. Поэтому будет правильнее использовать фразу «окна со стеклопакетами», ведь все мы знаем, что стеклопакеты являются не пластиковыми, а стеклянными."

                    p В&nbsp;действительности&nbsp;же, окна ПВХ со&nbsp;стеклопакетами обычно состоят из&nbsp;2&nbsp;или 3&nbsp;стекол, а&nbsp;между ними есть воздушная камера шириной десять миллиметров или чуть больше. Величина этой воздушной камеры может зависеть от&nbsp;ширины прямоугольного сечения самого профиля, называемого также &laquo;дистанционной рамкой&raquo;. Такая рамка заполнена специальным веществом, впитывающим влагу, благодаря чему стекла не&nbsp;запотевают изнутри. Однокамерные стеклопакеты&nbsp;&mdash; с&nbsp;2-мя стеклами, а&nbsp;двухкамерные соответственно&nbsp;&mdash; с&nbsp;3-мя.

            ul.windows-list
                li.one-quarter
                    img(src="../../../img/img--windows-1.jpg" alt /)
                    span.title Однокамерный
                    p Состоит из&nbsp;двух стекол, его толщина равна 24&nbsp;мм, причем толщина каждого стекла составляет 4&nbsp;мм, а&nbsp;размеры дистанционной рамки достигают 16&nbsp;мм. Установка стеклопакета с&nbsp;одной камерой применяется обычно в&nbsp;офисных помещениях или квартирах для балконных блоков (окно и&nbsp;балконная дверь), где уже была застеклена лоджия или балкон. Он&nbsp;подойдет там, где не&nbsp;нужны высокие требования по&nbsp;теплопроводности и&nbsp;шумоизоляции.

                li.one-quarter
                    img(src="../../../img/img--windows-2.jpg" alt /)
                    span.title Двухкамерный
                    p Состоит из&nbsp;трех стекол, его толщина равна 32&nbsp;мм, причем толщина каждого стекла составляет 4&nbsp;мм, а&nbsp;размеры дистанционной рамки достигают 16&nbsp;мм. Установка стеклопакета с&nbsp;двумя камерами применяется обычно для окон и&nbsp;балконных блоков (окно и&nbsp;балконная дверь) расположенных в&nbsp;жилых многоквартирных домах или коттеджах. Он&nbsp;подойдет там, где необходимы повышенные требования по&nbsp;теплопроводности и&nbsp;шумоизоляции.

                li.one-quarter
                    img(src="../../../img/img--windows-3.jpg" alt /)
                    span.title Шумоизолирующий
                    p Используется для устранения посторонних звуков. Окна, которые выходят на&nbsp;улицу с&nbsp;движением транспорта, требуют повышенной шумоизоляции. Звукоизолирующие стеклопакеты должны состоять из&nbsp;разной толщины стекол (4&nbsp;и&nbsp;6&nbsp;мм) и&nbsp;разного размера дистанционной рамки. А&nbsp;также и&nbsp;однокамерные стеклопакеты могут быть с&nbsp;защитной пленкой что улучшает звукоизоляцию на&nbsp;4&nbsp;дБ, это равно свойствам 2-х камерных стеклопакетов 32&nbsp;мм.

                li.one-quarter
                    img(src="../../../img/img--windows-4.jpg" alt /)
                    span.title Энергосберегающий
                    p Кроме обычного стекла также включает в&nbsp;себя &quot; i-стекло &quot;, которое может действовать по&nbsp;методу теплового зеркала. Его теплоотражающее покрытие нанесено с&nbsp;помощью вакуумного напыления серебряных ионов. Теплосберегающие стеклопакеты эффективно снижают теплопотери, а&nbsp;также обладают хорошей светопропускной способностью. Энергосберегающие стеклопакеты применяются в&nbsp;любых помещениях.

                li.one-quarter
                    img(src="../../../img/img--windows-5.jpg" alt /)
                    span.title Защитный
                    p Противоударный&nbsp;&mdash; представляет собой стекло, на&nbsp;которое нанесена защитная пленка, как правило в&nbsp;100&nbsp;мкр. Эти стеклопакеты являются еще и&nbsp;безопасными. Если стекло разобьется, то&nbsp;пленка не&nbsp;позволит разлететься осколкам, тем самым оберегая от&nbsp;травм. Такой вариант наиболее предпочтительнее для витрин магазинов, либо для домов, которые находятся вблизи от&nbsp;футбольных площадок и&nbsp;т.п.

                li.one-quarter
                    img(src="../../../img/img--windows-6.jpg" alt /)
                    span.title Тонированный
                    p Используется в&nbsp;помещении с&nbsp;солнечной стороны, где есть много солнечного света. Также он&nbsp;может быть применен в&nbsp;декоративных целях. В&nbsp;его основу входит тонированное стекло, обладающее свойствами светонепроницаемости.

                li.one-quarter
                    img(src="../../../img/img--windows-7.jpg" alt /)
                    span.title Декоративный стеклопакет
                    p Подойдет помещениям, где есть необходимость выделить уникальность интерьера, а&nbsp;также реализовать идеи дизайнера. Такие стеклопакеты представлены тремя видами по&nbsp;раскладке (шпросов): с&nbsp;прямоугольным сечением 26&nbsp;мм, с&nbsp;прямоугольным сечением 18&nbsp;мм, а&nbsp;также округлой формы 8&nbsp;мм (кроме белых предлагаются золотистые и&nbsp;коричневые).

                li.one-quarter
                    img(src="../../../img/img--windows-8.jpg" alt /)
                    span.title Защитный
                    p Противоударный&nbsp;&mdash; представляет собой стекло, на&nbsp;которое нанесена защитная пленка, как правило в&nbsp;100&nbsp;мкр. Эти стеклопакеты являются еще и&nbsp;безопасными. Если стекло разобьется, то&nbsp;пленка не&nbsp;позволит разлететься осколкам, тем самым оберегая от&nbsp;травм. Такой вариант наиболее предпочтительнее для витрин магазинов, либо для домов, которые находятся вблизи от&nbsp;футбольных площадок и&nbsp;т.п.

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/windows.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});





