@import 'partials/color';
@import 'partials/responsive';
@import 'partials/mixins';
@import 'partials/fonts';
@import 'partials/reset';
@import 'partials/text';

// UI
@import 'ui/btn';
@import 'ui/form';
@import 'ui/input';
@import 'ui/vendor/owlcarousel';
@import 'ui/vendor/fancy';

// blocks
@import 'blocks/header';
@import 'blocks/footer';

//pages
@import 'pages/pageIndex';
@import 'pages/pageNopage';
@import 'pages/pageAction';
@import 'pages/pageOpinion';
@import 'pages/pageFaq';
@import 'pages/pageArcticles';
@import 'pages/pageItem';
@import 'pages/pageContacts';
@import 'pages/pageSubsection';
@import 'pages/pageProfil';
@import 'pages/pagePopup';
@import 'pages/pageSection';
@import 'pages/pagePhoto';
@import 'pages/pageWindows';