block vars
    - var title='Title'

extends ../../partials/layout

block content

    section.breadcrumbs.margin-bottom-20
        .width-wrap
            ul
                li
                    a(href="") Главная
                li
                    a(href="") Окна ПВХ
                li
                    span Вопросы и ответы

    main.margin-bottom-150
        .width-wrap
            h1.margin-bottom-40 Вопросы и&nbsp;ответы о&nbsp;натяжных потолках

            ul.articles-list
                li.one-half
                    span.title В&nbsp;каких помещениях можно производить монтаж?
                    p Натяжные потолки могут быть установлены как в&nbsp;жилых, так и&nbsp;в&nbsp;нежилых помещениях. Они тем и&nbsp;хороши, что не&nbsp;аккумулируют запахов, не&nbsp;являются сборником конденсата и&nbsp;не&nbsp;выцветают. Также они не&nbsp;образуют провисаний при повышении температуры помещения или складок при понижении, поэтому их&nbsp;можно использовать при температуре от &minus;5 до&nbsp;+40&nbsp;С. Для теплых помещений подойдет ПВХ потолок, для холодных тканевый. Прост и&nbsp;уход за&nbsp;натяжными потолками, достаточно протирать их&nbsp;влажной тряпкой.

                li.one-half
                    span.title Что необходимо сделать в&nbsp;помещении перед монтажом?
                    p Немногое. Из&nbsp;комнаты непременно нужно вынести объекты, которые могут быть повреждены при нагревании (комнатные растения, косметика, продукты, зеркала, аквариумы с&nbsp;рыбками, картины...). Если&nbsp;же будет устанавливаться тканевый потолок, который тянется без нагрева, то&nbsp;и&nbsp;это не&nbsp;придется делать. Достаточно будет сдвинуть всю мебель в&nbsp;центр помещения освобождая тем самым доступ по&nbsp;периметру и&nbsp;не&nbsp;препятствовать доступу к&nbsp;местам установки осветительных приборов.

                li.one-half
                    span.title Как быстро изготавливается, доставляется и&nbsp;устанавливается                натяжной потолок?
                    p В&nbsp;целом заказ выполняется от&nbsp;3&nbsp;до&nbsp;7&nbsp;дней. Среднее время самой установки потолков для стандартной квартиры&nbsp;&mdash; 24&nbsp;часа. Но&nbsp;чаще бывает, что монтаж натяжного потолка площадью 20&nbsp;кв.м производится за&nbsp;2-3&nbsp;часа, все зависит от&nbsp;площади устанавливаемого потолка, типа конструкции и&nbsp;т.д.

                li.one-half
                    span.title Бесшовный и&nbsp;обычный ПВХ&nbsp;&mdash; это одно и&nbsp;то&nbsp;же?
                    p Нет. Давно известные нам
                        a(href="") натяжные потолки
                        =' – это несколько полос ПВХ пленки шириной до 270 мм каждая, соединенных на стыках методом сварки. Получающиеся швы почти не видны на потолках с матовой поверхностью. Чуть больше заметны на глянцевых, особенно, в ярко освещенных помещениях. К тому же, технология установки "классического" натяжного потолка предполагает растягивание его в разогретом состоянии (температура в помещении при этом поднимается до +70°С), что требует большой точности и аккуратности.'

                li.one-half
                    span.title На&nbsp;каком этапе устанавливать натяжные потолки?
                    p Натяжной потолок монтируется в&nbsp;любое удобное для заказчика время. Наиболее предпочтительный вариант&nbsp;&mdash; после поклейки обоев и&nbsp;до&nbsp;укладки ламината. Можно конечно и&nbsp;сразу после проведения штукатурно-малярных работ, но&nbsp;в&nbsp;этом случае придется оплачивать повторный выезд монтажников&nbsp;&mdash; для установки потолочного плинтуса после поклейки обоев.

                li.one-half
                    span.title Насколько уменьшится высота помещения?
                    p Потолок станет ближе к&nbsp;полу на&nbsp;толщину крепежного профиля. Это всего 1,5&nbsp;&mdash; 3&nbsp;см. Но&nbsp;если заказан потолок со&nbsp;встроенными светильниками, комната станет &laquo;ниже&raquo; на&nbsp;высоту светильника&nbsp;&mdash; как правило, от&nbsp;5,5 до&nbsp;10&nbsp;см.

                li.one-half
                    span.title Как и&nbsp;где приобрести дешево и&nbsp;не&nbsp;нарваться на&nbsp;подделку?
                    p Нам очень часто задают вопросы: можно&nbsp;ли сэкономить при покупке и&nbsp;как рассчитать стоимость натяжных потолков, чтобы меня не&nbsp;обманули. Надо правильно произвести расчет, включая все дополнительные работы, а&nbsp;не&nbsp;только полотно. Выбирайте компании, которые не&nbsp;первый год на&nbsp;рынке. Цены на&nbsp;разные виды потолков существенно отличаются, но&nbsp;натяжные потолки выигрывают по&nbsp;цене, цветовой гамме и&nbsp;скорости монтажа. Для того, чтобы произвести точный расчет, достаточно указать в&nbsp;калькуляторе площадь помещения и&nbsp;дополнительные параметры (потолочный плинтус, обход труб, монтаж люстры и&nbsp;т.д).

                li.one-half
                    span.title Говорят пленка ПВХ пахнет &laquo;синтетикой&raquo;&nbsp;&mdash; это правда?
                    p Это так, но&nbsp;всего лишь первые несколько дней, потом запах исчезнет совсем. Обусловлено это тем, что сама пленка упакована в&nbsp;рулоны и&nbsp;совсем не&nbsp;дышит. Любая распакованная новая вещь имеет запах&nbsp;&mdash; будь&nbsp;то ламинат, телевизор или постельное белье. Поэтому не&nbsp;стоит уделять этому столь сильное значение, самое главное заказывать продукцию у&nbsp;компаний давно зарекомендовавших себя на&nbsp;рынке услуг.

                li.one-half
                    span.title Что делать если зальют и&nbsp;выдержит&nbsp;ли потолок воду?
                    p При небольшом заливе можно попробовать слить воду самостоятельно. Для этого необходимо отключить электричество, снять осветительные приборы, а&nbsp;через отверстия выгнать воду и&nbsp;дать просохнуть несколько дней. После чего установить осветительные приборы обратно и&nbsp;включить электричество. При большом заливе лучше вызвать специалистов, которые произведут слив воды и&nbsp;при необходимости заменят полотно.

                li.one-half
                    span.title Какой мощности можно использовать освещение?
                    p На&nbsp;сегодняшний день можно применять практически любое освещение в&nbsp;натяжных потолках. Тем более уже достаточно распространены светодиодные лампы, которые не&nbsp;нагреваются и&nbsp;соответственно не&nbsp;будут плавить потолок. Конечно есть некоторые ограничения: для точечных светильников с&nbsp;обычными галогеновыми лампами мощность ламп не&nbsp;должна превышать 35w, для люстры расстояние от&nbsp;полотна из&nbsp;расчета&nbsp;&mdash; 60&nbsp;w = 60&nbsp;см, но&nbsp;это средне-вычислительные данные для ПВХ полотна. На&nbsp;практике все не&nbsp;так плачевно. Допускается расположение ламп ближе к&nbsp;полотну, но&nbsp;если у&nbsp;ламп достаточно толстые плафоны и&nbsp;не&nbsp;будут передавать сильный нагрев полотну.


    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/faq.jpg",opacity: 0.5,top: -2,left: 0,center: false,clip: true,show: false});});





