a, p, span, li, input, time, blockquote, textarea
  font-family $fTahoma
  font-size 14px
  line-height 18px
  color $cBlack

a
  cursor pointer

i
  font-style normal

h1
  font-family $fTrebuchet
  color $cBlack
  font-size 30px
  line-height normal
  text-align left
  display block
  font-weight bold

  &.margin-bottom-40
    margin-bottom 35px

h2
  font-family $fTrebuchet
  color $cBlack
  font-size 24px
  line-height normal
  text-align left
  display block
  font-weight bold

h3
  font-family $fTrebuchet
  color $cBlack
  font-size 24px
  line-height normal
  text-align left
  display block
  font-weight bold

