.popup-wrap
  width 320px
  height 480px
  padding 30px 20px 30px
  text-align center
  background #554b49
  box-shadow 0 0 30px rgba(0,0,0,0.5)
  overflow hidden

  h2
    color $cWhite
    text-align center
    text-transform uppercase
    font-weight bold

  .main-form
    .inp
      border-radius 0

    .btn
      display block
      height 50px
      border-radius 0
      line-height 50px
      padding 0

  p
    text-align center
    color $cWhite
