block vars
    - var title='Title'

extends ../../partials/layout

block content

    section.breadcrumbs.margin-bottom-20
        .width-wrap
            ul
                li
                    a(href="") Главная
                li
                    a(href="") Натяжные потолки
                li
                    a(href="") Российские
                li
                    span В ванной

    main.margin-bottom-150
        .width-wrap
            h1.margin-bottom-40 Желтый российский натяжной потолок в&nbsp;ванной

            .item
                .flex-between.margin-bottom-60
                    .one-half
                        .slider-item
                            .slider-item--el
                                a(href="../../../img/img--item-1.jpg").fancy
                                    img(src="../../../img/img--item-1.jpg" alt /)
                            .slider-item--el
                                a(href="../../../img/img--item-1.jpg").fancy
                                    img(src="../../../img/img--item-1.jpg" alt /)
                            .slider-item--el
                                a(href="../../../img/img--item-1.jpg").fancy
                                    img(src="../../../img/img--item-1.jpg" alt /)

                    .one-half
                        span.item--price.margin-bottom-60 Цена:
                            i 13 100 р.

                        ul.item--params
                            li
                                span
                                    strong Площадь:
                                    =" 6 кв.м."
                            li
                                span
                                    strong Производитель:
                                    =" Россия"
                            li
                                span
                                    strong Фактура:
                                    =" Глянцевая"

                        p.margin-bottom-60 Желтый российский глянцевый натяжной потолок будет хорошим дополнением в&nbsp;ванной комнате к&nbsp;зеленой керамической плитке. А&nbsp;также, как видно по&nbsp;фото&nbsp;&mdash; желтый цвет прекрасно сочетается и&nbsp;с&nbsp;другими оттенками плитки.

                        .item--btns.flex-between
                            a(href="../pagePopup/pagePopup-gauger.html" class="fancybox.ajax").btn.fancy.one-quarter Заказать
                            a(href="").btn.btn-gray.fancy.one-quarter Расчитать

                table(border="0" cellpadding="0" cellspacing="0").item--data.margin-bottom-60
                    tr
                        td.title Размер двери:
                        td 200х80 см (стандарт)
                    tr
                        td.title Тип конструкции:
                        td Рама из трубы 50х25 мм. Профиль двери 40х25 мм. Наружный лист металла 2 мм. Внутренняя облицовка двери от 2 до 10 мм.
                    tr
                        td.title Наружная отделка:
                        td Винилкожа "Россия"
                    tr
                        td.title Внутренняя отделка:
                        td Ламинат 6 мм (стандарт)
                    tr
                        td.title Петли:
                        td На подшипниках
                    tr
                        td.title Замки:
                        td Cisa 57.986 двухсистемный с перкодировкой (4 класс секретности)
                    tr
                        td.title Цилиндры:
                        td Cisa AP3 S (4 класс секретности)
                    tr
                        td.title Тепло-звукоизоляция:
                        td Урса
                    tr
                        td.title Ручки:
                        td Armadillo Libra
                    tr
                        td.title Встроенное зеркало:
                        td Есть
                    tr
                        td.title Глазок:
                        td 180&deg; угол обзора
                    tr
                        td.title Монтаж:
                        td Есть
                    tr
                        td.title Доставка:
                        td Есть

                .flex-between
                    a(href="").btn.btn-border Назад
                        br
                        ="в раздел"

                    a(href="").btn.btn-border Все потолки
                        br
                        ="в ванной"

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/item.jpg",opacity: 0.5,top: -2,left: 0,center: false,clip: true,show: false});});





