block vars
    - var title='Title'

extends ../../partials/layout

block content

    section.breadcrumbs.margin-bottom-20
        .width-wrap
            ul
                li
                    a(href="") Главная
                li
                    span Натяжные потолки

    main.margin-bottom-150
        .width-wrap
            h1.margin-bottom-40 Натяжные потолки в Москве и области

            section.section.margin-bottom-40
                ul.section-list.grid
                    li.one-quarter.section-list--el.grid-item
                        a(href="").section-list--el-img
                            img(src="../../../img/img--section-1.jpg")

                            span.section-list--el-price от 28 000 р.
                            span.section-list--el-title Российские

                    li.one-quarter.section-list--el.grid-item
                        a(href="").section-list--el-img
                            img(src="../../../img/img--section-2.jpg")

                            span.section-list--el-price от 500 р.
                            span.section-list--el-title Китайские

                    li.one-quarter.section-list--el.grid-item
                        a(href="").section-list--el-img
                            img(src="../../../img/img--section-3.jpg")

                            span.section-list--el-price от 2 000 р.
                            span.section-list--el-title Немецкие

                    li.one-quarter.section-list--el.grid-item
                        a(href="").section-list--el-img
                            img(src="../../../img/img--section-4.jpg")

                            span.section-list--el-price от 28 000 р.
                            span.section-list--el-title Французские

                    li.one-quarter.section-list--el.grid-item
                        a(href="").section-list--el-img
                            img(src="../../../img/img--section-5.jpg")

                            span.section-list--el-price от 28 000 р.
                            span.section-list--el-title Бельгийские

                    li.one-quarter.section-list--el.grid-item
                        a(href="").section-list--el-img
                            img(src="../../../img/img--section-6.jpg")

                            span.section-list--el-price от 28 000 р.
                            span.section-list--el-title Тканевые

                    li.one-quarter.section-list--el.grid-item
                        a(href="").section-list--el-img
                            img(src="../../../img/img--section-7.jpg")

                            span.section-list--el-price от 28 000 р.
                            span.section-list--el-title Двухуровневые

                    li.one-quarter.section-list--el.grid-item
                        a(href="").section-list--el-img
                            img(src="../../../img/img--section-8.jpg")

                            span.section-list--el-price от 128 000 р.
                            span.section-list--el-title Многоуровневые

            section.callback-form.margin-bottom-60
                form(action="" method="post").main-form.flex-between.local-note
                    span.title Расчет 5 минут

                    .input
                        input(type="hidden" name="form" value="Форма на главной")
                        input(type="text" name="name" placeholder="Ваше имя").inp.required
                        input(type="text" name="phone" placeholder="Ваш телефон").inp.required.inp-phone

                    a(href="").btn.btn-green.js--form-submit Отправить

            section.profit.flex-between.margin-bottom-40
                .one-third
                    ul.profit-list
                        li.one-sixth
                            a(href="")
                                img(src="../../../img/img--subsection-5.jpg" alt /)
                                span Матоыве
                        li.one-sixth
                            a(href="")
                                img(src="../../../img/img--subsection-6.jpg" alt /)
                                span Сатиновые

                        li.one-sixth
                            a(href="")
                                img(src="../../../img/img--subsection-8.jpg" alt /)
                                span Глянцевые
                        li.one-sixth
                            a(href="")
                                img(src="../../../img/img--subsection-9.jpg" alt /)
                                span Комбинированные

                        li.one-sixth
                            a(href="")
                                img(src="../../../img/img--subsection-11.jpg" alt /)
                                span С подсветкой
                        li.one-sixth
                            a(href="")
                                img(src="../../../img/img--subsection-12.jpg" alt /)
                                span С фотопечатью

                .one-third.tabs
                    ul.tabs--caption.flex-between
                        li.active Огромная палитра цвета
                        li не&nbsp;затопят соседи сверху
                        li трещины не&nbsp;появятся

                    .tabs--content.active
                        a(href="../../../img/img--section-tab.jpg").fancy
                            img(src="../../../img/img--section-tab.jpg" alt /)

                        .tabs--content-text.flex-center.flex-between
                            span Большая палитра с&nbsp;более 120 оттенками позволяет сделать интерьер эксклюзивным и&nbsp;неповторимым в&nbsp;кратчайшие сроки.

                    .tabs--content
                        span Разметка второго таба

                    .tabs--content
                        span Разметка третьего таба

                .one-third
                    ul.profit-list
                        li.one-sixth
                            a(href="")
                                img(src="../../../img/img--subsection-14.jpg" alt /)
                                span В ванной
                        li.one-sixth
                            a(href="")
                                img(src="../../../img/img--subsection-15.jpg" alt /)
                                span На кухне

                        li.one-sixth
                            a(href="")
                                img(src="../../../img/img--subsection-15.jpg" alt /)
                                span В гостиной
                        li.one-sixth
                            a(href="")
                                img(src="../../../img/img--subsection-17.jpg" alt /)
                                span В спальне

                        li.one-sixth
                            a(href="")
                                img(src="../../../img/img--subsection-18.jpg" alt /)
                                span В детской
                        li.one-sixth
                            a(href="")
                                img(src="../../../img/img--subsection-19.jpg" alt /)
                                span В коридоре


            section.clients.flex-between.margin-bottom-60
                .opinion.one-half
                    .opinion-slider
                        .opinion-slider--el
                            //iframe(src="https://www.youtube.com/embed/iu6aEQXFp9Y" frameborder="0" allowfullscreen)

                            .text-right
                                span Екатерина Болдырева
                                span г. Москва

                        .opinion-slider--el
                            //iframe(src="https://www.youtube.com/embed/iu6aEQXFp9Y" frameborder="0" allowfullscreen)

                            .text-right
                                span Екатерина Болдырева
                                span г. Москва

                    h2 Отзывы

                .one-half.grid
                    .clients-info.grid-item.margin-bottom-20.flex-between
                        span.clients-info-left ПО&nbsp;ОПРОСАМ КЛИЕНТОВ

                        .clients-info-right
                            ul
                                li
                                    .number
                                        span 51%
                                    p Обратились к&nbsp;нам по&nbsp;рекомендациям друзей и&nbsp;знакомых!
                                li

                                    .number
                                        span 38%
                                    p Обратились после посещения сайта и&nbsp;подбора подходящего варианта!
                                li
                                    .number
                                        span 11%
                                    p Обратились прочитав отзывы о&nbsp;нашей компании на&nbsp;других ресурсах!

                    .clients-info.flex-between
                        span.clients-info-left ГОТОВЫ ЛИ&nbsp;ЗАКАЗТЬ ПОВТОРНО?

                        .clients-info-right
                            ul
                                li
                                    .number
                                        span 67%
                                    p Да, готовы заказать.
                                li
                                    .number
                                        span 29%
                                    p Скорее всего закажут.
                                li
                                    .number
                                        span 4%
                                    p Не&nbsp;готовы заказать.

            section.callback-form.margin-bottom-60
                form(action="" method="post").main-form.flex-between.local-note
                    span.title Расчет 5 минут

                    .input
                        input(type="hidden" name="form" value="Форма на главной")
                        input(type="text" name="name" placeholder="Ваше имя").inp.required
                        input(type="text" name="phone" placeholder="Ваш телефон").inp.required.inp-phone

                    a(href="").btn.btn-green.js--form-submit Отправить

            section.profit.flex-between.margin-bottom-40
                .one-half
                    ul.profit-list
                        li.one-sixth
                            a(href="")
                                img(src="../../../img/img--subsection-5.jpg" alt /)
                                span Матоыве
                        li.one-sixth
                            a(href="")
                                img(src="../../../img/img--subsection-6.jpg" alt /)
                                span Сатиновые
                        li.one-sixth
                            a(href="")
                                img(src="../../../img/img--subsection-7.jpg" alt /)
                                span В ванной
                        li.one-sixth
                            a(href="")
                                img(src="../../../img/img--subsection-8.jpg" alt /)
                                span Глянцевые
                        li.one-sixth
                            a(href="")
                                img(src="../../../img/img--subsection-9.jpg" alt /)
                                span Комбинированные
                        li.one-sixth
                            a(href="")
                                img(src="../../../img/img--subsection-10.jpg" alt /)
                                span В гостиной
                        li.one-sixth
                            a(href="")
                                img(src="../../../img/img--subsection-11.jpg" alt /)
                                span С подсветкой
                        li.one-sixth
                            a(href="")
                                img(src="../../../img/img--subsection-12.jpg" alt /)
                                span С фотопечатью
                        li.all.one-sixth
                            a(href="")
                                img(src="../../../img/img--subsection-13.jpg" alt /)
                                span Больше
                                    br
                                    ="вариантов"

                .one-half
                    .profit-top.margin-bottom-20
                        span
                            strong  Наши преимущества
                        p Имея четыре завода с&nbsp;новейшим оборудованием нам удалось реализовать более 125 тыс проектов в&nbsp;сжатые сроки, без всяких наценок. Благодаря качественным материалам и&nbsp;квалифицированным специалистам мы&nbsp;смело даем гарантию от&nbsp;5&nbsp;лет.

                    .flex-between.margin-bottom-20
                        .one-quarter.profit-bottom-1.profit-bottom
                            span
                                strong 5&nbsp;- 15&nbsp;мин
                            p Расчет стоимости и&nbsp;оформление заявки

                        .one-quarter.profit-bottom-2.profit-bottom
                            span
                                strong 3&nbsp;- 48&nbsp;час
                            p Выезд на&nbsp;замер и&nbsp;заключение договора

                    .flex-between
                        .one-quarter.profit-bottom-3.profit-bottom
                            span
                                strong 3&nbsp;- 7&nbsp;дней
                            p Изготовление и&nbsp;монтажные работы

                        .one-quarter.profit-bottom-4.profit-bottom
                            span
                                strong 5&nbsp;- 10&nbsp;мин
                            p Выдача акта работ и&nbsp;гарантийного талона

            section.question.margin-bottom-60
                .flex-between
                    .one-third
                        h2 Вопросы и&nbsp;ответы

                        ul.question-list
                            li
                                span Имеются&nbsp;ли у&nbsp;замерщика образцы?
                                p У&nbsp;замерщика есть все необходимые образцы материалов и&nbsp;каталоги. Но&nbsp;надо понимать, что например окно в&nbsp;разрезе он&nbsp;привезти не&nbsp;сможет, поэтому эта информация размещена на&nbsp;сайте.

                            li
                                span Как происходит оплата услуг?
                                p После замера с&nbsp;заказчиком заключается договор, по&nbsp;которому вносится предоплата не&nbsp;менее&nbsp;50% от&nbsp;общей стоимости заказа. Оставшаяся часть суммы оплачивается после проведения всех работ.

                            li
                                span Предупредят&nbsp;ли заранее о&nbsp;доставке?
                                p Конечно, менеджеры предупредят о&nbsp;планируемой дате заранее. Как правило, доставка и&nbsp;монтажные работы происходят в&nbsp;один и&nbsp;тот&nbsp;же день.

                    .one-third
                        img(src="../../../img/img--question.jpg" alt /)

                        ul.flex-between.question-icons
                            li
                                a(href="../pagePopup/pagePopup-callback.html" class="fancybox.ajax" title="Обратный звонок").fancy
                            li
                                a(href="../pagePopup/pagePopup-gauger.html" class="fancybox.ajax" title="Вызов замерщика").fancy
                            li
                                a(href="../pagePopup/pagePopup-question.html" class="fancybox.ajax" title="Вопрос специалисту").fancy


                    .one-third.tabs
                        ul.tabs--caption
                            li.active 1
                            li 2
                            li 3
                            li 4
                            li 5

                        .tabs--content.active
                            p Уважаемые клиенты, предлагаем вам ознакомиться с&nbsp;широким выбором услуг по&nbsp;обустройству дома, а&nbsp;также его остеклению. На&nbsp;нашем сайте можно найти любую информацию о&nbsp;предлагаемых товарах и&nbsp;услугах.

                            p Вся продукция компании &laquo;Домашний Уют&raquo; обладает высочайшим качеством. В&nbsp;нашем интернет-магазине всегда можно заказать натяжные потолки, окна пвх, шкафы купе, а&nbsp;также стальные двери изготавливаемые в&nbsp;соответствии с&nbsp;требованиями клиента. Мы, в&nbsp;свою очередь, поможем создать комфорт и&nbsp;уют в&nbsp;вашем доме, а&nbsp;также при повторном обращении предоставим нашу дисконтную накопительную карту. Уважаемые клиенты, предлагаем вам ознакомиться с&nbsp;широким выбором услуг по&nbsp;обустройству дома, а&nbsp;также его остеклению.

                            .flex-between
                                span Совет Эксперта
                                span Анисимов А.Н.

                        .tabs--content
                            p Контент следующей вкладки

                            .flex-between
                                span Совет Эксперта
                                span Анисимов А.Н.
                        .tabs--content
                            p Контент следующей вкладки

                            .flex-between
                                span Совет Эксперта
                                span Анисимов А.Н.
                        .tabs--content
                            p Контент следующей вкладки

                            .flex-between
                                span Совет Эксперта
                                span Анисимов А.Н.
                        .tabs--content
                            p Контент следующей вкладки

                            .flex-between
                                span Совет Эксперта
                                span Анисимов А.Н.

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/section.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});





