.opinion-list
  display block

  &--el
    display block
    margin-bottom 56px
    white-space nowrap

    &-img
      display inline-block
      vertical-align top
      margin-right 15px

    .content
      display inline-block
      vertical-align top
      width 890px
      white-space normal

      &-header
        display block
        padding-bottom 31px

        a
          display inline-block
          vertical-align top
          font-weight bold
          color $cGray_m
          font-size 16px
          line-height 20px
          margin-right 17px
          letter-spacing 0

        time
          display inline-block
          vertical-align top
          line-height 20px
          padding 0 11px
          color $cWhite
          background $cGray_l

      p
        letter-spacing 0

.opinion--btn
  text-align center

  .btn-border
    padding 15px 75px
    color #8c8582
    font-size 15px

